@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (Model.Movies.Count < 1)
{
    <p>No movies are available</p>
}
else
{
    <table class="table table-hover table-bordered">
        <thead><tr><th>Customer</th></tr></thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr><td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.ID }, null)</td></tr>
            }
        </tbody>
    </table>
}